In [11]:
from pathlib import Path
import pandas

forecast_window = 10

financials_csv = Path("./data_source/financials.csv").resolve()

financials = pandas.read_csv(financials_csv, index_col=[0, 1])

MEAN_SUFFIX = "Mean"
FUTURE_MEAN_SUFFIX = "FutureMean"

TOTAL_ASSETS_COL = "totalAssets"
RETURN_FUTURE_COL = "returnFuture"
TOTAL_ASSETS_MEAN_COL = f"{TOTAL_ASSETS_COL}{MEAN_SUFFIX}"

target_col = "netIncome"
target_col = f"{target_col}{FUTURE_MEAN_SUFFIX}"

dataset_y = (
    pandas.DataFrame(financials.rolling(forecast_window).mean())
    .rename(columns=lambda col: f"{col}{FUTURE_MEAN_SUFFIX}")
    .rename(index=lambda y: y - forecast_window, level=1)
)
dataset_y = dataset_y[~dataset_y[target_col].isnull()]
dataset_y = dataset_y.loc[:, [target_col]]
dataset_y.head()

           netIncomeFutureMean
id   year
A.US 1997          322500000.0
     1998          366100000.0
     1999          311800000.0
     2000          298500000.0
     2001          382900000.0

In [51]:
financials.loc["A.US", ["netIncome"]].loc[range(1998, 2008)]

         netIncome
year
1998  2.570000e+08
1999  5.120000e+08
2000  7.570000e+08
2001  1.680000e+08
2002 -1.032000e+09
2003 -2.058000e+09
2004  3.490000e+08
2005  3.270000e+08
2006  3.307000e+09
2007  6.380000e+08

In [48]:
financials.head()

            totalAssets  intangibleAssets  earningAssets  otherCurrentAssets  \
id   year
A.US 1998  4.987000e+09               NaN            NaN        3.750000e+08
     1999  5.444000e+09               NaN            NaN        4.040000e+08
     2000  8.425000e+09      5.570000e+08            NaN        6.050000e+08
     2001  7.986000e+09      1.070000e+09            NaN        1.161000e+09
     2002  8.203000e+09      6.850000e+08            NaN        2.710000e+08

              totalLiab  totalStockholderEquity  deferredLongTermLiab  \
id   year
A.US 1998  1.965000e+09            3.022000e+09                   NaN
     1999  2.062000e+09            3.382000e+09                   NaN
     2000  3.160000e+09            5.265000e+09                   NaN
     2001  2.327000e+09            5.659000e+09                   NaN
     2002  3.576000e+09            4.627000e+09                   NaN

           otherCurrentLiab  commonStock  capitalStock  ...  otherItems  \
id   year                                               ...
A.US 1998      1.164000e+09          NaN           NaN  ...         NaN
     1999      9.300000e+08    4000000.0           NaN  ...         NaN
     2000      1.419000e+09    5000000.0           NaN  ...         NaN
     2001      1.331000e+09    5000000.0           NaN  ...         NaN
     2002      1.058000e+09    5000000.0           NaN  ...         NaN

           incomeTaxExpense  totalRevenue  totalOperatingExpenses  \
id   year
A.US 1998       139000000.0  7.952000e+09            3.475000e+09
     1999       275000000.0  8.331000e+09            3.202000e+09
     2000       407000000.0  1.077300e+10            4.198000e+09
     2001       -71000000.0  8.396000e+09            4.008000e+09
     2002      -525000000.0  6.010000e+09            3.923000e+09

           costOfRevenue  totalOtherIncomeExpenseNet  discontinuedOperations  \
id   year
A.US 1998   4.035000e+09                 -46000000.0                     NaN
     1999   4.388000e+09                  46000000.0                     NaN
     2000   5.522000e+09                 111000000.0                     NaN
     2001   5.166000e+09                 301000000.0                     NaN
     2002   3.694000e+09                  60000000.0                     NaN

           netIncomeFromContinuingOps  netIncomeApplicableToCommonShares  \
id   year
A.US 1998                         NaN                                NaN
     1999                         NaN                                NaN
     2000                         NaN                        757000000.0
     2001                         NaN                                NaN
     2002                         NaN                                NaN

           preferredStockAndOtherAdjustments
id   year
A.US 1998                                NaN
     1999                                NaN
     2000                                NaN
     2001                                NaN
     2002                                NaN

[5 rows x 121 columns]